body {
    background-color: #E5EDF5;
    color: #707281;
    text-align: center;
}

@media (max-width: 767px) {
    .section__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
    ".";
        background-color: #E5EDF5;
        margin: auto;
    }

    .nav {
        overflow: visible;
        background: rgba(115, 0, 255);
        position: relative;
    }

    .nav #nav-hidden {
        display: none;
        padding-top: 50px;
        background: rgba(115, 0, 255);
    }

    .nav a {
        color: white;
        padding: 10px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;

    }

    .nav a.icon {
        background-color: rgba(115, 0, 255);
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        text-align: right;
    }

    .nav a:hover {
        background-color: #ddd;
        color: black;
    }

    .nav a.icon:hover {
        background-color: rgba(115, 0, 255);
        color: black;
    }

    .grid__card {
        margin: 0 25px 30px 25px;
        background: #ffffff;
        padding: 20px;
        border-radius: 20px;
    }

    .grid__card__image {
        width: 75px;
        margin: 20px;
        height: auto;
    }

    h1 {
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .grid_header {
        height: 170px;
    }

    p {
        margin-bottom: 30px;
    }

    hr {
        width: 50px;
        color: #98A1AE;
        margin-bottom: 30px;
    }

    .button {
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px;
        width: 100px;
        border-radius: 20px;
        margin: auto;
        font-size: 0.8rem;
    }

    .button:hover {
        background: #49ABF4;
        color: #fff;
        text-align: center;
        cursor: pointer;
        box-shadow: 1px 1px 10px #707281;
    }

    .section__grid:nth-child(n+1)
    {
        margin-top: 10px;
    }

    .section-card
    {
       padding-top: 50px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {

    .container {
        display: grid;
        grid-template-columns: 1fr repeat(2, 2fr);
        grid-template-rows: 1fr;
        gap: 20px 20px;
        grid-template-areas:
        "nav section-card section-card";
        min-height: 100vh;
    }

    .section-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;
        grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". .";
        grid-area: section-card;
        margin: auto;
    }

    .nav {
        grid-area: nav;
        background-color: rgba(115, 0, 255, 0.57);
        padding: 30px;
        border-radius: 0 30px 30px 0;
    }

    .grid__card {
        margin: 25px;
        background: #ffffff;
        padding: 20px;
        border-radius: 20px;
    }

    .grid__card__image {
        width: 75px;
        margin: 20px;
        height: auto;
    }

    h1 {
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .grid_header {
        height: 180px;
    }

    p {
        margin-bottom: 30px;
    }

    hr {
        width: 50px;
        color: #98A1AE;
        margin-bottom: 30px;
    }

    .button {
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px;
        width: 100px;
        border-radius: 20px;
        margin: auto;
        font-size: 0.8rem;
    }

    .button:hover {
        background: #49ABF4;
        color: #fff;

        text-align: center;
        cursor: pointer;
        box-shadow: 1px 1px 10px #707281;
    }

    a, a:visited
    {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
    }

    a:hover
    {
        color: black;
        cursor: pointer;
    }

    .burger
    {
        display: none;
    }

    .nav-hidden
    {
        display: block;
    }

}

@media (min-width: 1025px) {
    .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        gap: 20px 50px;
        grid-template-areas:
    "nav section-card section-card section-card section-card section-card";
        min-height: 100vh;
    }

    .section-card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 0 0;
        grid-template-areas:
    ". . . ."
    ". . . .";
        grid-area: section-card;
        margin: auto;
    }

    .nav {
        grid-area: nav;
        background-color: rgba(115, 0, 255, 0.57);
        padding: 30px;
        border-radius: 0 30px 30px 0;
        overflow: visible;
        position: relative;
    }

    .grid__card {
        margin: 25px;
        background: #ffffff;
        padding: 20px;
        border-radius: 20px;

    }

    .grid__card__image {
        width: 100px;
        height: auto;
        margin: 20px;
    }

    h1 {
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .grid_header {
        margin: 10px;
        height: 200px;
    }

    p {
        margin-bottom: 30px;
    }

    hr {
        width: 50px;
        color: #98A1AE;
        margin-bottom: 30px;
    }

    .button {
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px;
        width: 100px;
        border-radius: 20px;
        margin: auto;
        font-size: 0.8rem;
    }

    .button:hover {
        background: #49ABF4;
        color: #fff;
        text-align: center;
        cursor: pointer;
        box-shadow: 1px 1px 10px #707281;
    }

    a, a:visited {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
    }

    a:hover {
        color: black;
        cursor: pointer;
    }

    .burger
    {
        display: none;
    }

    .nav-hidden
    {
        display: block;
    }

}